# Importing pandas and the associated spreadsheet of Chipotle data

In [13]:
import pandas as pd

url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')

# 1. Which was the most ordered item?

In [14]:
chipo['item_name'].value_counts().rename_axis('item').reset_index(name='counts')[0:1]

           item  counts
0  Chicken Bowl     726

# 2. Which was the most ordered item count?

In [15]:
chipo['item_name'].value_counts().rename_axis('item').reset_index(name='counts')[0:1]

           item  counts
0  Chicken Bowl     726

# 3. What was the most ordered item in the choice_description column?

In [16]:
chipo['choice_description'].value_counts().rename_axis('item').reset_index(name='counts')[0:1]

          item  counts
0  [Diet Coke]     134

# 4. How many items were ordered in total?

In [17]:
sum(chipo['quantity'])

4972

# 5. Turn the item price into a float

In [18]:
# type(chipo['item_price'][0]) // I don't want to take the first element, I want all elements
# chipo['item_price'].dtype // dtype('O') object? I'm not sure how this is relevant.
chipo['item_price'].apply(type).unique() # [str]
chipo['item_price'] = pd.to_numeric(chipo['item_price'].str.replace("$", ""))
chipo['item_price'].apply(type).unique() # [float]

array([<class 'float'>], dtype=object)

# 6. How much was the revenue for the period in the dataset?

In [19]:
f'${(chipo["item_price"] * chipo["quantity"]).sum():,.2f}'

'$39,237.02'

# 7. How many orders were made in the period?

In [20]:
chipo["order_id"].nunique(dropna=True)

1834

# 8. What is the average revenue amount per order?

In [21]:
f'${(chipo["item_price"] * chipo["quantity"]).sum()/chipo["order_id"].nunique():,.2f}'

'$21.39'

# 9. How many different items are sold?

In [22]:
chipo["item_name"].nunique(dropna=True)

50